header{
  background-color: rgb(225, 158, 76);
  margin: auto;
}

header h1{
  text-align: center;
  color: rgb(43, 42, 41);
  padding: 10px;
}

#menu id menu {
  background-color: rgb(106, 69, 24);
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  float: left;
}

#menu li{
  float: left;
}

#menu li a{
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: rgb(20, 11, 1);
  transition: 0.5s;
}

#menu li a:hover{
  transition: 0.5s;
  background-color: rgb(71, 71, 49);
  color: #ffffff
;
}
article{
  background-color: rgb(82, 52, 15);
  text-align: justify;
  margin: auto;
}

ol{
  padding: 0%;
  margin: 35px;
}

ol li span{
  float: right;

  
}

ol li{
  border-bottom: 1px solid #000000;
}

img{
  width: 100%;
}
h2, p{
  margin-left: 20px;
  margin-right: 35px;
}

section{
  text-align: center;
  padding: 10px;
}

#btt{
  text-decoration: none;
  background-color: bisque;
  color: rgb(24, 24, 25);
  border-radius: 5px;
  padding: 7px;
  transition: 0.5s;
}

footer{
  text-align: center;
  background-color: rgb(56, 48, 37);
  margin: auto;
  /*top left bottom right */
  padding: 5px 0px 5px 0px;
}

header, article, footer {
  width: 50%;
}